@-webkit-keyframes move {
    0% {
        width: 10px;
    }
    50% {
        width: 200px;
    }
    100% {
        width: 10px;
    }
}
.box {
    background: #222;
    margin: 10px;
    height: 50px;
    width: 200px;
}
.a {
    -webkit-animation: move 10s linear infinite;
    background: #95CDC6;
}
.b {
    -webkit-animation: move 10s linear 5s infinite;
    background: #AED66E;
}
