*
  box-sizing: border-box
  font-size: 12px

body
  background: #eee
  line-height: 1.4

form
  margin: 50px auto
  width: 500px
  padding: 50px
  
input
  color: #444
  width: 100%
  display: block
  border: 1px solid #ddd
  padding: 10px
  margin-bottom: 10px
  border-radius: 5px
    
[type=submit]
  width: 50%
  float: left
  border: 0
  padding: 15px 10px
  background: #ccc
  text-shadow: 1px 1px 0 rgba(white, 0.3)
  border-radius: 5px 0 0 5px
  box-shadow: inset 0 -2px 0 rgba(black, 0.1)
  position: relative
    
  &:focus,
  &:active
    top: 2px
    outline: 0
    box-shadow: none
    
  &:last-of-type
    border-radius: 0 5px 5px 0
  
.remember
  color: #222
  background: skyblue

h2
  font-size: 18px
  
p:last-of-type
  color: #555
  clear: both
  background: white
  border: 1px solid #ddd
  border-radius: 5px
  padding: 10px 15px
  float: right
  position: relative
    
  &:after
    content: " "
    transform: rotate(45deg)
    background: white
    border-top: 1px solid #ddd
    border-left: 1px solid #ddd
    display: block
    width: 15px
    height: 15px
    position: absolute
    top: -10px
    right: 60px
    //z-index: -1
    
